<html>
<head>
<title>Example</title>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function do_all() {
                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        if (request.response.response === "True") {
                            window.location.href = '/game';}
                        };
                };
                request.open('GET', '/api/is_game_full', true);
                request.responseType = 'json';
                request.send();
                $("#loading").load("/api/loading_count");

            };
    setInterval("do_all();",1000);
</script>
</head>
<body>
<div id="loading"></div>
<p>test</p>
</body>
</html>