<table style="
              border-collapse: collapse;">
    {% for row in matrix %}
    <tr style=" height: 160px;
               border: 10px solid black;">
        {% for elem in row %}
        <td style="border: 10px solid black;
                   width: 160px">
            {% if elem[0] != 'space' %}
                <button style="background: transparent;
                               border: none !important;
                               width: 155px;
                               height: 155px;"
                        onclick="cellpressed({{elem[1]}});"><img src={{elem[0]}} style="width: 100%;
                                                                                        height: 100%;"></button>
            {% else %}
                <button style="background: transparent;
                               border: none !important;
                               width: 155px;
                               height: 155px;"
                        onclick="cellpressed({{elem[1]}});"></button>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>