<html>
<head>
<title>Search game</title>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    window.num = 1;
    var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        if (request.response.response === "True") {
                            window.location.href = '/game';}
                        };
                };

    request.responseType = 'json';
    function do_all() {
                window.num = window.num + 1
                if (window.num == 4) {
                    window.num = 1};
                document.getElementById("loading").innerHTML = '<h1>' + 'Searching player' + '.'.repeat(window.num) + "</h1>";
                request.open('GET', '/api/is_game_full', true);
                request.send();
            };
    setInterval("do_all();",1000);
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
</head>
{% if design == 'new' %}
<body style="background: url(../static/new_design/background.png);">
    <nav class="navbar navbar-light" style="background-color: #0025ca;">
            <img src={{design_slovar['logotype']}}>
{% elif design == 'old' %}
 <body style="background-color: #7f6546;">
    <nav class="navbar navbar-light" style="background-color: #bd9c77;">
                <H1>Tic Tac Toe</H1>
 {% endif %}
    <button style="border: 6px solid #4773a6;border-radius: 10px 10px 10px 10px;height: 55px;" onclick="document.location='/';"><h2>Back</h2></button>
</nav>
<div style="width: 400px; margin: auto; margin-top: 7vh; height: 300px; background-color: #fff;border: 6px solid #fff;border-radius: 10px 10px 10px 10px;padding:10px;">
    <div style="width: 330px; height: 200px; margin: auto; margin-top: 100px;">
        <div id="loading"><h1>Searching player.</h1></div>
    </div>
</div>
</body>
</html>