<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
            function loadtable() {
                        var request = new XMLHttpRequest();
                        request.onreadystatechange = function() {
                            if (request.readyState == 4 && request.status == 200) {
                                if (request.response.response === "True") {
                                    $("#table_div").load("/api/get_table_matrix");}
                                };
                        };
                        request.open('GET', '/api/is_matrix_change', true);
                        request.responseType = 'json';
                        request.send();

                    };
            setInterval("loadtable();",200);
    </script>
</head>
<body style="background: url(../static/images/backgrounds/tree1.jpg);">
<div style="display: flex;
            justify-content: space-between;
            width: 30%;
            background-color: #957558;
            border: 6px solid #ebdddd;
            border-radius: 100px 15px 100px 15px;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: auto;
            margin-right: auto;">{% for item in user %}
        <h2>{{item}}</h2>
    {% endfor %}
</div>

<div id="table_div"></div>
</body>
</html>