<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
            function cellpressed(index) {
                        var request = new XMLHttpRequest();
                        request.onreadystatechange = function() {
                            if (request.readyState == 4 && request.status == 200) {
                                if (request.response.response === "error") {
                                    window.location.href = '/';}
                                else if (request.response.response !== "end_game") {
                                    $("#table_div").load("/api/get_table_matrix");};
                                if (request.response.response === "end_game") {
                                    clearInterval(window.load);
                                    do_all();};
                                if (request.response.response === "draw") {
                                    clearInterval(window.load);
                                    do_all();};
                                };
                        };
                        request.open('GET', '/api/cell_pressed/' + index, true);
                        request.responseType = 'json';
                        request.send();
                        };

            function do_all() {
                var request = new XMLHttpRequest();
                        request.onreadystatechange = function() {
                            if (request.readyState == 4 && request.status == 200) {
                                if (request.response.is_matrix_change === "True") {
                                    $("#table_div").load("/api/get_table_matrix");}
                                if (request.response.is_game_finished === "end_game") {
                                    clearInterval(window.load);
                                    document.getElementById("opponent_rating").innerHTML = '<h2>' + request.response.opponent_rating + request.response.opponent_span + "</h2>";
                                    document.getElementById("user_rating").innerHTML = '<h2>' + request.response.user_rating + request.response.user_span + "</h2>";}
                                if (request.response.is_game_finished === "draw") {
                                    clearInterval(window.load);}
                                if (request.response.is_game_finished === "error") {
                                    window.location.href = '/';}
                                document.getElementById("timer").innerHTML = '<h1 style="' + request.response.timer_style + '">Timer: ' + request.response.seconds + "</h1>"
                                if (request.response.message !== "nothing") {
                                document.getElementById("message_div").innerHTML = '<h1 style="background-color: #fff; border: 6px solid #d1b449;border-radius: 10px 10px 10px 10px;padding: 5px;">' + request.response.message + "</h1>" + '<button style="background: transparent;border: none !important;" ' + 'onclick="' + "document.location='/';" + '">' + '<img src="../static/images/buttons/back_button.png" style="width: 100px;"></button>';};
                                };
                        };
                        request.open('GET', '/api/do_all_game', true);
                        request.responseType = 'json';
                        request.send();
                };
            window.load = setInterval("do_all();",500);
    </script>
</head>
<body style="background: url(../static/images/backgrounds/tree1.jpg);">
<div style="margin-top: 3%;">
<div style="display: flex;
            justify-content: space-between;
            width: 500px;
            background-color: #957558;
            border: 6px solid #ebdddd;
            border-radius: 100px 15px 100px 15px;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: auto;
            margin-right: auto;"
        id="opponent_div">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">{{opponent[0]}}</h2>
        <h2 style="font-family: Arial, Helvetica, sans-serif;">{{opponent[1]}}</h2>
        <div id="opponent_rating" style="font-family: Arial, Helvetica, sans-serif;">
            <h2>{{opponent[2]}}</h2></div>
</div>
<div style="display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;">
    <div id="message_div" style="font-family: Arial, Helvetica, sans-serif;
                             margin-right: 2%;"></div>
    <div id="table_div"></div>
    <div id="timer" style="font-family: Arial, Helvetica, sans-serif;
                          margin-left: 2%;"></div>
</div>
<div style="display: flex;
            justify-content: space-between;
            width: 500px;
            background-color: #957558;
            border: 6px solid #ebdddd;
            border-radius: 100px 100px 100px 100px;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: auto;
            margin-right: auto;"
        id="user_div">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">{{user[0]}}</h2>
        <h2 style="font-family: Arial, Helvetica, sans-serif;">{{user[1]}}</h2>
        <div id="user_rating" style="font-family: Arial, Helvetica, sans-serif;">
            <h2>{{user[2]}}</h2></div>

</div>
</div>
</body>
</html>