{% extends "base.html" %}

{% block content %}
    <div style="margin: auto; margin-top: 20vh; width: 300px; height: 300px;background-color: #fff;border: 6px solid #fff;border-radius: 10px 10px 10px 10px;">
        <div style="width: 200px; height: 200px;margin: auto; margin-top: 80px;">
            <h1>Main page</h1>
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary " href="/game_search" style="width: 200px;">Play</a>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/register" style="margin-right: 5px; margin-left: 5px;">Register</a>
                <a class="btn btn-success" href="/login" style="width: 90px;">Sign in</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div style="position: absolute;bottom: 30px;right: 50px;"> <a href="https://t.me/Musa_Dulmiev">
        <img src="../static/images/buttons/telegram.png" style="width: 100px;"></a>
        <h3>My Telegram</h3></div>

{% endblock %}